<!doctype html>
<html>
   <body>
   
      <form action = "/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <p>Student Number <input type = "text" name = "StudentNumber" /></p>
         <p>Gender</p>
            <label><input type="radio" name="Gender" value="Male"/>Male</label>
            <label><input type="radio" name="Gender" value="Female"/>Female</label>
         <p>Major <input type = "text" name = "Major" /></p>
         <p>Programming Languages</p>
            <label><input type="checkbox" name="languages" value="Python"/>Python</label>
            <label><input type="checkbox" name="languages" value="Java"/>Java</label>
            <label><input type="checkbox" name="languages" value="HTML"/>HTML</label>
            <label><input type="checkbox" name="languages" value="C++"/>C++</label>

         <p><input type = "submit" value = "submit" /></p>
      </form>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FSeoul&src=d2l2ZXdlOTRAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=a28uc291dGhfa29yZWEjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F4511E&color=%2333B679&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      <!--구글캘린더 추가-->>
   </body>
</html>
